<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <%- include("partials/menu.ejs") %>
    <div id='special-element'> </div>
        <!-- <section>
            <h1>
                <%= title %>
            </h1>
            <P>Welcome to <%= title %>
            </P>
        </section> -->
</body>

</html>