<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include("partials/head.ejs") %>
        <!-- <script src="/scripts/showcase.mjs" defer></script> -->
</head>

<body>
    <main>
        <%- include("partials/menu.ejs") %>
            <section>
                <h1>
                    <%= title %>
                </h1>

                <input id="searchBox" placeholder="Search house title..." value="" onkeyup="search()" />


                <select id="sort" onchange="sort()" data-id=""">
                    <option value=" unsorted">
                    No sort
                    </option>
                </select>

                <a id="newBtn" href="/houses/new">New</a>

                <section id="house-list">
                    <article>
                        <span class="money">$876,543</span>
                        <span class="title">
                            A house
                        </span>
                        <span class="company">
                            ABC Co.
                        </span>

                        <p class="specs">
                            <span>
                                <i class="fa-jelly-fill fa-regular fa-rectangle-history" title="stories"></i>
                                1
                            </span>
                            <span>
                                <i class="fa-jelly fa-regular fa-people-roof" title="rooms"></i>
                                12
                            </span>
                            <span>
                                <i class="fa-jelly-fill fa-regular fa-bath" title="Bathrooms"></i>
                                2
                            </span>
                            <span>
                                <i class="fa-jelly-fill fa-regular fa-garage" title="Garages"></i>
                                2
                            </span>
                            <span>
                                <i class="fa-jelly-fill fa-regular fa-arrows-maximize" title="Floor Area"></i>
                                400 sqm
                            </span>
                        </p>
                        <div class="extras">
                            <div>
                                xyz
                            </div>
                        </div>
                        <div class="card-actions">
                            <a href="#" class="delete-btn">Delete</a>
                            <a href="#" class="edit-btn">Edit</a>
                            <a href="#" class="showcase-btn">Showcase</a>
                        </div>
                    </article>

                </section>
            </section>
            <footer>
                <span>© 2026 Uptown I.T. All rights reserved.</span> <span>Version: <%= ver %></span>
            </footer>
    </main>
</body>

</html>