<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include("partials/head.ejs") %>
        <script src="/scripts/houselist.mjs" type="module" defer></script>
</head>

<body>
    <main>
        <%- include("partials/menu.ejs") %>
            <section>
                <span id="pageTitle">
                    &nbsp;&nbsp;<%= title %>
                </span>
                <div id="top-controls"></div>
                <div id="search-sort-row">
                    <input id="searchBox" placeholder="Search title..." value="" onkeyup="search()" />

                    <select id="sort" onchange="sort()" data-id=""">
                    <option value=" unsorted">
                        No sort
                        </option>
                    </select>
                    <a id="newBtn" href="/housebuilder/create">New</a>
                </div>

                <section id="house-list">


                </section>
            </section>
            <footer>
                <span>© 2026 Uptown I.T. All rights reserved.</span> <span>Version: <%= ver %></span>
            </footer>
    </main>
</body>

</html>