<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include("partials/head.ejs") %>
        <script src="/scripts/showcase.js"></script>
</head>

<body>
    <%- include("partials/menu.ejs") %>
        <section>
            <h1>
                <%= title %>
            </h1>
House name search: <input 
  type="text" 
  id="searchBox" 
  placeholder="Search by house title..."
  onkeyup="dSearch(this.value)"
/>
            <select id="sortPrice" onchange="sortByPrice()">
  <option value="">Sort by Price</option>
  <option value="asc">Price: Low to High</option>
  <option value="desc">Price: High to Low</option>
</select>
            <section>
                <% data.forEach((house)=> { %>
                    <article>
                        <% let money=new Intl.NumberFormat("en-AU", { maximumSignificantDigits: 3
                            }).format(house.totalCost); %>
                            <span class="money">$<%= money %></span>
                            <span class="title">
                                <%= house.title %>
                            </span>
                            <span class="company">
                                <%= house.companyName %>
                            </span>
                            <p class="specs">
                                <span>
                                    Rooms: <%= house.rooms %>, 
                                </span> 
                                <span>
                                    Stories: <%= house.storyCount %> 
                                </span>
                            </p>
                            <p class="specs">
                                <span>
                                    <i class="fa-solid fa-toilet" title="Bathrooms"></i> <%= house.bathrooms %> 
                                </span> 
                                <span>
                                    <i class="fa-solid fa-square-parking" title="Garages"></i> <%= house.garages %> 
                                </span> 
                                <span>
                                    <i class="fa-solid fa-ruler-horizontal" title="Area"></i> <%= house.floorAreaSqm %>sqm 
                                </span> 
                            </p>
                            <div class="extras">
                                <% house.extras.forEach(extra=> { %>
                                    <div>
                                        <%= extra %>
                                    </div>
                                    <% }) %>
                            </div>
                            <a href="#" class="delete-btn" data-id="<%= house.id %>||<%= house.title %>">Delete</a>
                    </article>
                    <% }); %>
            </section>
</body>

</html>