<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include("partials/head.ejs") %>
    <script src="/script/showcase.js"></script>
</head>

<body>
    <%- include("partials/menu.ejs") %>
        <section>
            <h1>
                <%= title %>
            </h1>
            <ul id="houses">
                <span class='listHeader'>Showcase List</span>
                
                <% data.forEach((house)=> { %>
                    <li><div>
                        <% let money=new Intl.NumberFormat("en-AU", { maximumSignificantDigits: 3
                            }).format(house.totalCost); %>
                            <span class="money">$<%= money %></span>
                            <span class="title">
                                <%= house.title %>
                            </span> -
                            <span class="company">
                                <%= house.companyName %>
                            </span> -
                            <i class="fa-solid fa-trash-can" title="Delete" onclick="showcaseDelete('<%= house.id %>');"></i>
                            <div>
                                <span>
                                    <%= house.rooms %> rooms
                                </span> -
                                <span>
                                    <%= house.bathrooms %> bathrooms
                                </span> -
                                <span>
                                    <%= house.garages %> garage
                                </span> -
                                <span>
                                    <%= house.floorAreaSqm %> sqm
                                </span> -
                                <span>
                                    <%= house.storyCount %> level
                                </span>
                            </div>
                            <% house.extras.forEach(extra=> { %>
                                <div id="extras">
                                    <span>
                                        <%= extra %>
                                    </span>
                                </div>
                                <% }); %>
                    </li>
                    </div>
                    <% }); %>
            </ul>
        </section>
</body>

</html>